{
    "presets": [
      [
        "@babel/preset-env",
        {
          "modules": "auto",
          "targets": {
            "browsers": [
              "last 2 Chrome versions",
              "last 2 Firefox versions",
              "last 2 Safari versions",
              "last 2 iOS versions",
              "last 1 Android version",
              "last 1 ChromeAndroid version"
            ]
          }
        }
      ],
      [
        "@babel/preset-react",
        {
          "runtime": "automatic"
        }
      ],
      ["@babel/preset-typescript"]
    ],
    "plugins": [
      "@babel/plugin-transform-runtime",
      "macros",
      [
        "babel-plugin-module-resolver",
        {
          "root": ["./src"],
          "alias": {
            // Add your aliases here
            "@assets": "./src/assets",
            "@components": "./src/components",
            "@pages":"./src/pages",
            "@test":"./src/test",
            "@hooks": "./src/hooks"
            
          }
        }
      ]
    ]
  }